.cartBody {
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 40px;
  background: url('./img/airplanes-pattern-cute-planes-and-clouds_297-541.jpg') center fixed;
}

.cartFormBody {
  background-color: #ffffffbd;
}

.portt {
  font-size: Large;
  font-weight: Large;
}
