.homeBody {
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 40px;
  background: url('./airplanes-pattern-cute-planes-and-clouds_297-541.jpg') center fixed;
  color: black;
}

.inputField1 {
  color: black;
}

/* label color */
.input-field label {
   color: #000000;
}

.zipField {
  grid-column: 2/3;
  grid-row: 1;
  background-color: #ffffffbd;
}

.portResult {
  background-color: #ffffffbd;
  width: 100%;
  display: grid;
  grid-template-columns: 10%, 40%, 40%, 10%;
  grid-auto-rows: repeat(1, 1fr);
  font-size: large;
  font-weight: bold;

}
.btn{
  background-color: black;

}
.imgResult{
  grid-column: 2/3;
  grid-row: 1;
}
.resultText {
  grid-column: 3/4;
  grid-row: 1;
}
.font {
  font-family: 'Roboto Slab', serif;
}
.nav-wrapper {
  color: black;
  background: #ffffffbd;
}
